<!DOCTYPE html>
<html>
<head>
    <title>Phase 10 Scorecard</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<style type="text/css">
    .row {
        margin-top: .5em;
    }
</style>
   
</head>
<body>
<div class="container" ng-app='PhaseTenApp' ng-controller="PhaseTenAppCtrl">

<div id='score_card' class='col-xs-12 col-sm-8'>


<!--ROUND ONE-->
<table class="table">
<tr>
<td colspan="2">
<h2>Phase 10 Scorecard</h2>
</td>
</tr>
<tr>
  <td>
    <span class="phase_description">2 Sets of 3</span>
  </td>
  <td>
     <input class="input form-control" type="number" pattern="\d*" ng-model='phase_1' ng-change="updateTotals()"/>
  </td>
</tr>
<tr>
  <td>
    <span class="phase_description">1 Set of 3 & 1 run of 4</span>
  </td>
  <td>
     <input class="input form-control" type="number" pattern="\d*" ng-model='phase_2' ng-change="updateTotals()"/>
 </td>
</tr>
<tr>
  <td>
    <span class="phase_description">1 Set of 4 & 1 run of 4</span>
  </td>
  <td>
     <input class="input form-control" type="number" pattern="\d*" ng-model='phase_3' ng-change="updateTotals()" />
 </td>
</tr>
<tr>
  <td>
    <span class="phase_description">1 run of 7</span>
  </td>
  <td>
     <input class="input form-control" type="number" pattern="\d*" ng-model='phase_4' ng-change="updateTotals()"/> 
 </td>
</tr>
<tr>
  <td>
    <span class="phase_description">1 run of 8</span>
  </td>
  <td>
     <input class="input form-control" type="number" pattern="\d*" ng-model='phase_5' ng-change="updateTotals()"/>
 </td>
</tr>
<tr>
  <td>
    <span class="phase_description">1 run of 9</span>
  </td>
  <td>
   <input class="input form-control" type="number" pattern="\d*" ng-model='phase_6' ng-change="updateTotals()"/>
 </td>
</tr>
<tr>
  <td>
    <span class="phase_description">2 Sets of 4</span>
  </td>
  <td>
     <input class="input form-control" type="number" pattern="\d*" ng-model='phase_7' ng-change="updateTotals()"/>
 </td>
</tr>
<tr>
  <td>
    <span class="phase_description">7 of all one color</span>
  </td>
  <td>
     <input class="input form-control" type="number" pattern="\d*" ng-model='phase_8' ng-change="updateTotals()"/>
 </td>
</tr>
<tr>
  <td>
    <span class="phase_description">1 set of 5 & 1 set of 2</span>
  </td>
  <td>
    <input class="input form-control" type="number" pattern="\d*" ng-model='phase_9' ng-change="updateTotals()"/>
 </td>
</tr>
<tr>
  <td>
    <span class="phase_description">1 set of 5 & 1 set of 3</span>
  </td>
  <td>
    <input class="input form-control" type="number" pattern="\d*" ng-model='phase_10' ng-change="updateTotals()"/>
 </td>
</tr>
   
<tr ng-show="phase_10 > 0">
<td>
   <span class="phase_description">Did you finish first?</span>
</td>
<td>
   <button class="col-xs-6" ng-click="finishedFirstBonus()">Yes</button>
   <button class="col-xs-6" ng-click="clearFinishedFirstBonus()">No</button>
   </td>
</tr>
<tr>
    <td colspan="2">Totals
    </td>
</tr>
<tr>
<td>First Round
</td>
<td>
<input class="input form-control" type="number" pattern="\d*" ng-model="result_round_1" readonly="true" />
</td>
</tr>
<tr ng-if="round_one_bonus > 0">
<td>First Round Bonus
</td>
<td>
<input class="input form-control" type="number" pattern="\d*" ng-model="round_one_bonus" readonly="true"/>
</td>
</tr>
<tr>
<td>Second Round
</td>
<td>
<input class="input form-control" type="number" pattern="\d*" ng-model="result_round_2" readonly="true"/> 
</td>
</tr>
<tr>
<td>Final Score
</td>
<td>
<input class="input form-control" type="number" pattern="\d*" ng-model="result_final" readonly="true"/>    
</td>
</tr>
</table>




</div>




</div>
<script type="text/javascript">
 
 var app = angular.module('PhaseTenApp', []);
app.controller('PhaseTenAppCtrl', function($scope){

    $scope.result_round_1 = 0;
    $scope.round_one_bonus = 0;
    $scope.result_round_2 = 0;
    $scope.result_final = 0;
    $scope.finished_first_bonus = 0;
    
    
    $scope.updateRound1Total = function(){
        var p1 = $scope.phase_1 || 0;
        var p2 = $scope.phase_2 || 0;
        var p3 = $scope.phase_3 || 0;
        var p4 = $scope.phase_4 || 0;
        var p5 = $scope.phase_5 || 0;
        
        var round1Total = (p1 + p2 + p3 + p4 + p5);
        if(round1Total >= 220){
           $scope.round_one_bonus = 40; 
        }
        $scope.result_round_1 = round1Total;
    };
    
    $scope.updateRound2Total = function(){
        var p6 = $scope.phase_6 || 0;
        var p7 = $scope.phase_7 || 0;
        var p8 = $scope.phase_8 || 0;
        var p9 = $scope.phase_9 || 0;
        var p10 = $scope.phase_10 || 0;
        
        var round2Total = (p6 + p7 + p8 + p9 + p10);
        $scope.result_round_2 = round2Total;
    };
    
    $scope.updateFinalResults = function(){
        $scope.result_final = ($scope.result_round_1 + $scope.result_round_2 + $scope.round_one_bonus + $scope.finished_first_bonus);
    }
  
    $scope.updateTotals = function(){
        console.log('updating totals');
        $scope.updateRound1Total();
        $scope.updateRound2Total();
        $scope.updateFinalResults();
    }
    
    $scope.finishedFirstBonus = function(){
        $scope.finished_first_bonus = 40;
        $scope.updateTotals();
    }
    
    $scope.clearFinishedFirstBonus = function(){
         $scope.finished_first_bonus = 0;
        $scope.updateTotals();
    }
    
    
    
    $scope.updateTotals();
    
});
 
</script>








</body>
</html>
