body {
    background-color: #666;
    color: #ddd;
}

button {
    box-shadow: .1rem .1rem .1rem #292929;
}


button#clear-console,
button#clear-results {
    float: right;
    clear: both;
}

#clear-history-internal {
    float: right;
    position: absolute;
    top: 3rem;
    right: .5rem;
}


.box-header {
    padding: .3rem;
}


#results_content.success {
    box-shadow: 0rem 0rem 0.5rem green;
}

#results_content.error {
    box-shadow: 0rem 0rem 0.5rem red;
}

#run-button {
    cursor: pointer;
    text-shadow: 2px 2px 2px black;
}

#run-button:hover {
    text-shadow: 2px 2px 2px black, 4px 4px 4px red;
    transition: all linear .5s;
}

#editor, #results {
    float: left;
    width: 100%;
    height: 100%;
}

#editor_content {
    background-color: #e0e0e0;
    color: #0e0e0e;
    border: .1rem solid rgb(56, 56, 56);
    border-radius: .1rem;
    resize: horizontal;
}

#results_content {
    background-color: #0e0e0e;
    color: #e0e0e0;
    border: .1rem solid rgb(56, 56, 56);
    border-radius: .1rem;
    min-height: 10rem;
    padding: 1rem;
    resize: horizontal;
}

.contents {
    height: 100%;
    width: 100%;
    box-shadow: 0rem 0rem 0.5rem #333;
}

#console_container {
    background-color: #e0e0e0;
    color: #0e0e0e;
    border: .1rem solid rgb(56, 56, 56);
    border-radius: .1rem;

}




.as-console-wrapper{
    position:relative !important;
    bottom: unset !important; 
    left: unset !important; 
    right: unset !important;
    max-height: unset !important;
    overflow-y: scroll !important;
    overflow-x: unset !important;
    border-top: 1px solid #000;
    display: none;
    background: #fff;
}

.CodeMirror {
    min-height: 400px;
    resize: vertical;
    overflow-y:auto;
}

.CodeMirror-gutters {
    height: max-content;
}

div#codeHistory.show {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 33%;
    height: 100%;
    background: black;
    opacity: 75%;
    transition:all linear .5s;
    padding: 2rem;
    z-index: 1000;
    overflow-y: scroll;
}

div#codeHistory.hide {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 0%;
    height: 100%;
    background: black;
    opacity: 0%;
    transition: all linear .5s;
    padding: 2rem;
    z-index: -1000;
}

#history-button-container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 85%;
    float: right;
    z-index: 2000;
}

#toggle-history-internal {
    margin: .5rem;
}

@media only screen and (max-width: 600px) {
    div#codeHistory.show {
        width: 100%;
    }
    #CodePlaygroundApp {
        margin-top: 3rem;
    }
}