body {
    background-color: #666;
    color: #ddd;
    height: 100%;
    width: 100%;
}

#preview-window, #editor {
    background-color: #e0e0e0;
    color: #0e0e0e;
    height: 100%;
    width: 100%;
    border: .2rem solid rgb(56, 56, 56);
    border-radius: .1rem;
}

.row.justify-content-start > div {
    margin: 1rem 0;
}