body {
    background-color: #666;
    color: #ddd;
    height: 100%;
    width: 100%;
}

button {
    margin: 1.5rem 0.5rem;
    box-shadow: .1rem .1rem .1rem #292929;
}

#clear-console {
    float: right;
    clear: both;
}
#clear-results {
    float: right;
    clear: both;
}

.CodeMirror {
    min-height: 400px;
    resize: vertical;
    overflow-y: scroll;
}

CodeMirror-gutters {
    height: max-content;
}

div#codeHistory.show {
    display: block;
    position: absolute;
    top: 0rem;
    right: 0;
    width: 33%;
    height: 100%;
    background: black;
    opacity: 75%;
    transition:all linear .5s;
    padding: 2rem;
    z-index: 1000;
    overflow-y: scroll;
}

div#codeHistory.hide {
    display: block;
    position: absolute;
    top: 0rem;
    right: 0;
    width: 0%;
    height: 100%;
    background: black;
    opacity: 0%;
    transition: all linear .5s;
    padding: 2rem;
    z-index: -1000;
}

#history-button-container {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 75%;
    float: right;
    z-index: 2000;
}


#resultscontainer.success {
    box-shadow: 0rem 0rem 0.5rem green;
}

#results_container.error {
    box-shadow: 0rem 0rem 0.5rem red;
}


#run-button-container, #editor {
    grid-area: 1 / 1 / 2 / 2;
}

#run-button-container {
    z-index: 1000;
    margin: 1rem;
}

#run-button {
    cursor: pointer;
    text-shadow: 2px 2px 2px black;
}

#run-button:hover {
    text-shadow: 2px 2px 2px black, 4px 4px 4px red;
    transition: all linear .5s;
}

#editor {
    float: left;

}


#editor_container, #console_container {
    box-shadow: 0rem 0rem 0.5rem #333;
}

#editor_container {
    background-color: #e0e0e0;
    color: #0e0e0e;
    border: .1rem solid rgb(56, 56, 56);
    border-radius: .1rem;
    display: grid;
    grid-template-columns: 100% 1fr;
    grid-template-rows: 100% 1fr;

}

#results_container {
    background-color: #0e0e0e;
    color: #e0e0e0;
    border: .1rem solid rgb(56, 56, 56);
    border-radius: .1rem;
    min-height: 10rem;
    padding: 1rem;
}

#console_container {
    background-color: #e0e0e0;
    color: #0e0e0e;
    border: .1rem solid rgb(56, 56, 56);
    border-radius: .1rem;
    margin: 2rem 0;
    padding: 1rem;

}




.as-console-wrapper{
    position:relative !important;
    bottom: unset !important; 
    left: unset !important; 
    right: unset !important;
    max-height: unset !important;
    overflow-y: scroll !important;
    overflow-x: unset !important;
    border-top: 1px solid #000;
    display: none;
    background: #fff;
}